* {
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}
body {
    margin:0;
    min-height:100vh;
    background:#978e8e;
    display:flex;
    align-items:center;
    justify-content:center;
}
.card {
    background:rgb(15, 3, 71);
    padding:32px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align:center;
    width:280px;
}
.profile {
    width:120px;
    height:120px;
    border-radius: 50%;
    object-fit:cover;
    margin-bottom:18px;
}
.name {
    margin: 0 0 4px;
    font-size:22px;
    color:#fff;
}
.role {
    margin: 0 0 12px;
    font-size:14px;
    color:beige;
    margin-bottom:15px;
}
.bio {
    font-size: 14px;
    color:aliceblue;
    line-height: 1.6;
    font-style:italic;
    margin-bottom:16px;
}
.links {
    margin-top: 20px;
    display:flex;
    gap: 10px;
    justify-content:center;
}
.btn {
    text-decoration:none;
    background: antiquewhite;
    color:black;
    padding:8px 16px;
    border-radius:8px;
    font-size:13px;
    transition:background 0.2s;
}
.btn:hover {
    background-color: blueviolet;
    transform:translateY(-4px);
}
